<h1>External Data</h1>

<table>
  <thead>
    <tr>
      <th>Company ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <% @leads.each do |lead| %>
      <tr>
        <td><%= lead.CompanyId %></td>
        <td><%= lead.Name %></td>
        <td><%= lead.Email %></td>
        <td><%= lead.Address %></td>
      </tr>
    <% end %>
  </tbody>
</table>